*.bin
*.dfu
*.elf
*.exe
*.list
*.gz
*.map
src/objs/
##src/gz*
##src/elf*
#src/push
#push
*.o
#utils/midicsv/csvmidi
#utils/midicsv/midicsv
#utils/multi-module/programmer/objs
#.cproject
#.project
#.settings/org.eclipse.cdt.*
#src/beta-*
/local/

src/filesystem/devo*/mymedia/
src/filesystem/devo*/models/
src/filesystem/devo*/tx.ini
src/filesystem/devo*/errors.txt
src/filesystem/devo*/datalog.bin
src/filesystem/devo*/hardware.ini
src/filesystem/devo*/language/
src/filesystem/devo*/template/
src/filesystem/devo*/media/sound.ini
src/filesystem/devo*/layout/default.ini
src/filesystem/devo*/layout/empty.ini
src/filesystem/devo*/media/*.fon

src/filesystem/devo7e/
src/filesystem/devo12/
src/filesystem/x9d/
src/cov-int/
*.dll
*~
*.pyc
*.zip
.DS_Store

src/target/common/devo/devofs/tests/DevoFS.bs
src/target/common/devo/devofs/tests/DevoFS.c
src/target/common/devo/devofs/tests/MYMETA.json
src/target/common/devo/devofs/tests/MYMETA.yml
src/target/common/devo/devofs/tests/blib
src/target/common/devo/devofs/tests/pm_to_blib
src/target/common/devo/devofs/tests/Makefile.old

