*.bin
*.dfu
*.elf
*.exe
*.list
*.gz
*.map
src/objs/
##src/gz*
##src/elf*
#src/push
#push
*.o
#utils/midicsv/csvmidi
#utils/midicsv/midicsv
#utils/multi-module/programmer/objs
#.cproject
#.project
#.settings/org.eclipse.cdt.*
#src/beta-*
/local/

src/filesystem/

src/cov-int/
*.dll
*~
*.pyc
*.zip
.DS_Store

src/target/common/filesystems/devofs/tests/DevoFS.bs
src/target/common/filesystems/devofs/tests/DevoFS.c
src/target/common/filesystems/devofs/tests/MYMETA.json
src/target/common/filesystems/devofs/tests/MYMETA.yml
src/target/common/filesystems/devofs/tests/blib
src/target/common/filesystems/devofs/tests/pm_to_blib
src/target/common/filesystems/devofs/tests/Makefile.old

