name: Build zips
on: push

jobs:
  build:
    name: Build all zips
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          submodules: recursive        
      - name: Run Docker container
        uses: addnab/docker-run-action@v3
        with:
          image: deviationtx/deviation-docker
          options: -v ${{ github.workspace }}:/git/deviation
          run: |
            sudo /root/build.py --arm-prereq
            sudo /root/build.py --linux-prereq
            cd /git/deviation/src
            make zips
      - name: Verify build
        run: ls -l /git/deviation/src/*zips
        
